<!DOCTYPE html>
<html lang="en">
        <meta charset="UTF-8">
        <title>{% block title %}Atelier Soboa{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <head>
            <title>Soboa</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="icon" href="uploads/images/homePage/logo.svg" />

            <link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700,800|Open+Sans:300,400,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="css/bootstrap.css">
            <link rel="stylesheet" href="css/animate.css">
            <link rel="stylesheet" href="css/owl.carousel.min.css">

            <link rel="stylesheet" href="css/magnific-popup.css">
            <link rel="stylesheet" href="css/aos.css">

            <link rel="stylesheet" href="css/bootstrap-datepicker.css">
            <link rel="stylesheet" href="css/jquery.timepicker.css">

            <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
            <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

            <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

            <!-- Theme Style -->
            <link rel="stylesheet" href="css/style.css">
        </head>


        {% block body %}{% endblock %}
        <footer class="ftco-footer container-fluid ">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="footer-widget text-center">
                        <h1 class="titre-footer-canard">HORAIRE D'OUVERTURE</h1>
                        <p class="horaire-footer">Du Lundi au Vendredi :<br> 8h-12h et 14h-19h</p>
                        <p class="horaire-footer">Samedi: <br>8h-12h</p>
                    </div>
                </div>
                <div class="col-md-4 text-center horaire-footer">
                    <h1 class="titre-footer-canard">ATELIER SOBOA</h1>
                    <p><br>480 Chemin du Cheylard, Beaubac
                        <br>43000 Polignac
                        <br>soboadesign@gmail.com
                        <br>06 46 73 87 25
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h1 class="titre-footer-canard">SUIVEZ-NOUS SUR LES RÉSEAUX SOCIAUX !</h1>
                    <p class="horaire-footer">Connectez-vous pour ne rien manquer de l'actualité de l'atelier Soboa</p>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-12 text-center mentions">
                    <p><span class="horaire-footer">&copy;<script>document.write(new Date().getFullYear());</script> Soboa Tous droits réservés </span>| <a href="/mentions_legales">Mentions légales</a> | <a href="/">Plan du site</a>
                </div>
            </div>
            </div>
        </footer>
        {% block javascripts %}
            <script src="js/jquery-3.2.1.min.js"></script>
            <script src="js/jquery-migrate-3.0.1.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/jquery.waypoint===s.min.js"></script>

            <script src="js/bootstrap-datepicker.js"></script>
            <script src="js/jquery.timepicker.min.js"></script>
            <script src="js/jquery.stellar.min.js"></script>

            <script src="js/jquery.easing.1.3.js"></script>

            <script src="js/aos.js"></script>
            <script src="js/main.js"></script>
        {% endblock %}
    </body>
</html>
